.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;

}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-image: url("old-paper-texture-2.jpg");
  background-repeat: no-repeat;
}

h1{
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  border-bottom: 2px rgb(3, 90, 172) solid;
}

.article{
  margin: 0%;
  width:120%
}

h2{
  text-align: center;
}

p{
  align-content:flex-start;
}

svg{
  margin-bottom: 5%;
  max-height: max-content;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(3, 90, 172);
  border-top: dashed darkblue 2px;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
